<% include header%>
<div class="find">
    <div class="col-sm-9">
        <div class="head">
            <span class="fa">发现</span>
            <ul class="ul">
                <li class="ac"><a href="/dengdai">等待回复</a></li>
                <li ><a href="/remen">热门</a></li>
                <li ><a href="/tuijian">推荐</a> </li>
                <li ><a href="/find">最新</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="con"><a href="">登录框注册框的问题，打开登录框，在登录框的版面上点击去注册，打开注册框，但是登录框依然在，没有关闭掉</a> </div>

            <div class="con"><a href="">bootstrap 表单构造器谁有中文的源码呀，ctrl+s下来不是很好用</a></div>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="a">
            <span id="duo" class="re">热门话题</span>
            <a id="duo" class="geng" href="#">更多 ></a>
        </div>
        <div class="g">
            <a class="hua" href="">bootstrap</a>
            <br>
            <span>71个问题，39人关注</span>
        </div>
        <div class="g">
            <a class="hua" href="">模态框</a>
            <br>
            <span>5个问题，12人关注</span>
        </div>
        <div>
            <a class="hua" href="/aboutme">关于我</a>
        </div>
    </div>

</div>


<% include footer%>