<footer class="footer ">
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-6 col-lg-6">
                <h4>
                    <img src="http://wenda.bootcss.com/static/css/default/logo/logo.png">
                </h4>
                <p>本网站所列开源项目的中文版文档全部由<a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a>成员翻译整理，并全部遵循 <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>协议发布。</p>
            </div>
            <div class="col-sm-6  col-lg-5 col-lg-offset-1">
                <div class="row about">
                    <div class="col-xs-4">
                        <h4>关于</h4>
                        <ul class="list-unstyled">
                            <li><a href="http://www.bootcss.com/about/" target="_blank">关于我们</a></li>
                            <li><a href="http://www.bootcss.com/ad/" target="_blank">广告合作</a></li>
                            <li><a href="http://www.bootcss.com/links/" target="_blank">友情链接</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h4>联系方式</h4>
                        <ul class="list-unstyled">
                            <li><a href="http://weibo.com/bootcss" title="Bootstrap中文网官方微博" target="_blank">新浪微博</a></li>
                            <li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h4>旗下网站</h4>
                        <ul class="list-unstyled">
                            <li><a href="http://www.golaravel.com/" target="_blank">Laravel中文网</a></li>
                            <li><a href="http://www.ghostchina.com/" target="_blank">Ghost中国</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li><li>京公网安备11010802014853</li>
            </ul>
        </div>
    </div>
</footer>


<a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>

<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd799cb54bdae1c6134cf03ab0a98d443' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>
<div style="display:none;" id="__crond">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/1494474076%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
        });
    </script>
</div>

<!-- Escape time: 0.072952032089233 --><!-- / DO NOT REMOVE -->

</body>
</html>
<script src='http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js'></script>
<script>
    $('.huati').onclick = function () {
        alert('1')
        $('.active').removeClass('active').siblings().addClass('active')

    }
</script>