
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>Bootstrap中文网</title>
    <meta name="keywords" content="bootstrap,html,css,javascript,前端" />
    <meta name="description" content="Bootstrap是Twitter推出的一个用于前端开发的开源工具包。它由Twitter的设计师Mark Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。目前，Bootstrap最新版本为3.0 。Bootstrap中文网致力于为广大国内开发者提供详尽的中文文档、代码实例等，助力开发者掌握并使用这一框架。"  />
    <!--<base href="http://wenda.bootcss.com/" />&lt;!&ndash;[if IE]></base><![endif]&ndash;&gt;-->
    <link href="http://wenda.bootcss.com/static/css/default/ico/favicon.ico?v=20140912" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="http://wenda.bootcss.com/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="http://wenda.bootcss.com/static/css/icon.css" />

    <link href="http://wenda.bootcss.com/static/css/default/common.css?v=20140912" rel="stylesheet" type="text/css" />
    <link href="http://wenda.bootcss.com/static/css/default/link.css?v=20140912" rel="stylesheet" type="text/css" />
    <link href="http://wenda.bootcss.com/static/js/plug_module/style.css?v=20140912" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/stylesheets/js.js">

    <script src="http://wenda.bootcss.com/static/js/jquery.2.js?v=20140912" type="text/javascript"></script>
    <script src="http://wenda.bootcss.com/static/js/jquery.form.js?v=20140912" type="text/javascript"></script>
    <script src="http://wenda.bootcss.com/static/js/plug_module/plug-in_module.js?v=20140912" type="text/javascript"></script>
    <script src="http://wenda.bootcss.com/static/js/aws.js?v=20140912" type="text/javascript"></script>
    <script src="http://wenda.bootcss.com/static/js/aw_template.js?v=20140912" type="text/javascript"></script>
    <script src="http://wenda.bootcss.com/static/js/app.js?v=20140912" type="text/javascript"></script>
    <script type="text/javascript" src="http://wenda.bootcss.com/static/js/compatibility.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="http://wenda.bootcss.com/static/js/respond.js"></script>
    <![endif]-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://wenda.bootcss.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="http://wenda.bootcss.com"></a>
        </div>
        <!-- end logo -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="http://wenda.bootcss.com/search/" id="global_search_form" method="post">
                <input class="form-control search-query" type="text" placeholder="搜索问题、话题或人" autocomplete="off" name="q" id="aw-search-query" />
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();"></span>
                <div class="aw-dropdown">
                    <div class="mod-body">
                        <p class="title">输入关键字进行搜索</p>
                        <ul class="aw-dropdown-list hide"></ul>
                        <p class="search"><span>搜索:</span><a onClick="$('#global_search_form').submit();"></a></p>
                    </div>
                    <div class="mod-footer">
                        <a href="" onClick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish">发起问题</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- end 搜索框 -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a  href="/find"> 发现</a></li>

                    <!-- <li><a href="http://wenda.bootcss.com/question/" class="">问题</a></li>

                    <li><a href="http://wenda.bootcss.com/article/" class="">文章</a></li> -->

                    <li><a class="huati" href="/huati" > 话题</a></li>

                </ul>
            </nav>
        </div>
        <!-- end 导航 -->
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <span>
						<a class="register btn btn-normal btn-success" href="/reg">注册</a>
						<a class="login btn btn-normal btn-primary" href="/login">登录</a>
					</span>
            <!-- end 登陆&注册栏 -->
        </div>
        <!-- end 用户栏 -->
        <!-- 发起 -->
        <!-- end 发起 -->
    </div>
</div>



