<% include header%>
<div class="fin">
    <div class="col-sm-9">
        <div class="head">
            <span class="fa">热门话题</span>
            <ul class="ul">
                <!--<li><a href="/dengdai">等待回复</a></li>-->
                <li><a href="#">30天</a></li>
                <li><a href="#">七天</a> </li>
                <li class="ac"><a href="/find">全部</a></li>
            </ul>
        </div>

        <div id="yi" class="col-sm-6">
            <div class="s">
                <a class="hua" href="">bootstrap</a>
                <br>
                <span>71个问题，39人关注</span>
                <br>
                <span>7 天新增 2 个讨论, 30 天新增 4 个讨论</span>
            </div>
            <div class="s">
                <a class="hua" href="">模态框</a>
                <br>
                <span>5个问题，12人关注</span>
                <span>7 天新增 2 个讨论, 30 天新增 3 个讨论</span>
            </div>
        </div>


        <div id="yi" class="col-sm-6">
            <div class="s">
                <a class="hua" href="">css</a>
                <br>
                <span>71个问题，39人关注</span>
                <br>
                <span>7 天新增 2 个讨论, 30 天新增 4 个讨论</span>
            </div>
            <div class="s">
                <a class="hua" href="">HTML</a>
                <br>
                <span>5个问题，12人关注</span>
                <span>7 天新增 2 个讨论, 30 天新增 3 个讨论</span>
            </div>
        </div>

    </div>
    <div class="col-sm-3">
           <div class="e">
               <span>今日话题</span>
               <br>
               <br>

               <a href="#">...进入话题》</a>
           </div>
        <div class="z">
            <span>新增话题</span>
            <br>
            <a class="hu " href="#">响应式导航栏</a>
            <a  class="hu" href="#">禁止相应式</a>
            <a class="hu" href="#">h</a>
            <a class="hu" href="#">容器 超大尺寸容器</a>
            <a class="hu" href="#">bootstrap国际化</a>
            <a class="hu" href="#">bs3</a>
        </div>
    </div>
</div>




<% include footer%>