<% include header%>
<div class="zhu">
<div class="col-sm-7">
    <img src="../images/avatar.jpg" alt="">
    <span class="jieshao">登录用户</span>
    <input class="d" type="text" placeholder="邮箱/用户名"> <br>
    <input class="d" type="text" placeholder="密码"> <br>

    <label for=""> <input type="checkbox">记住我，<a href="">忘记密码</a> </label>
    <button class="de">登录</button>
</div>
    <div class="col-sm-5">
     <span class="disan">第三方账号登录</span>
        <img class="weibo" src="../images/weibo.jpg" alt="">
        <img class="weibo" src="../images/qq.jpg" alt="">

    </div>
</div>




<% include footer%>