<% include header%>
<div class="zhu">
<span class="span">注册新用户</span> <br>
    <input class="yonghu" type="text" placeholder="用户名"> <br>
    <input class="yonghu" type="text" placeholder="邮箱"><br>
    <input class="yonghu" type="text" placeholder="密码"><br>

    <input class="yonghu" type="text" placeholder="验证码"> <br>
    <label><input type="checkbox" checked="checked" value="agree" name="agreement_chk" style="margin-left: 25vw; margin-top: 10px;";/> 我同意</label> <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
    <button class="btn btn-large  btn-block" id="bt" >注册</button>

</div>

<% include footer%>